.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  background: white;
  border-radius: 6px;
  font-size: 17px;
  border: 2px solid black;
  cursor: pointer;
  border-color: #f44336;
  color: red
}
.close-btn:hover{
  background: #f44336;
  color: white;
}
